@use '../../styles/index.scss' as *;

.button {
    color: $linkColor;    
    padding: 10px;
    border-radius: 26px;
    background-color: $authLinkBackground;
    font-size: 24px;
}

@media only screen and (max-width: 650px) {
    .button {
        font-size: 16px;
    }
}