@use '../../styles/index.scss' as *;

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .saveButton {
        align-self: flex-start;
    }
}