@use '../../styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    @include flex-between;
  }

  .tableHeader {
    @include section-flex;
  }
}

.form {
  @include section-flex;
}