@use '../../styles/index.scss' as *;

.container {
    width: 100%;
    @include section-flex;
    
    .title {
       @include flex-between;
       width: 100%;
    }
}

.form {
    width: 100%;
    max-width: $transactionFormWidth;
    @include section-flex;
    
    .categoryWrapper {
        display: flex;
        align-items: center;
    }
}



.settingsWrapper {
    width: 100%;
    max-width: $settingsWrapperWidth;
    @include section-flex;
    
    .datePickers {
        display: flex;
        gap: 10px;
    }

    .amountFilterWrapper {
        display: flex;
        align-items: center;
        gap: 10px; 
    }
}

@media only screen and (max-width: 423px) {
    .container {
        .title {
            @include section-flex;
            align-items: flex-start;
        };
    }
}